.button {
  position: relative;
  overflow: hidden;
  padding: 0.69rem 1.88rem 0.81rem;
  border: 2px solid white;
  border-radius: 0.5rem; /* Using rem for consistency */
  background-color: transparent;
  color: white;
  font-size: 0.875rem; /* Equivalent to 'text-sm' in Tailwind */
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for background and border color */
}

.button:hover {
  background-color: blue;
  border-color: blue;
}

.text {
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  left: 0;
  right: 0;
  text-align: center;
}

.top {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  top: 150%; /* Start below the viewable area */
  transform: translateY(-50%);
}

.button:hover .top {
  transform: translateY(-150%); /* Move up out of view */
}

.button:hover .bottom {
  transform: translateY(-170%); /* Move into view from below */
}
